html,body{
  height: 100%;
  margin: 0;
}
.movedRight{
  -webkit-transform:translateX(30%);
}
.movedLeft{
  -webkit-transform:translateX(-30%);
}
.main-content{
  -webkit-transition: all 0.3s ease-in-out;
  background-color: green;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.trigger{
  position: relative;
  color: midnightblue;
  border-radius: 10px;
  background-color: #ddd;
  padding: 15px;
  border: solid 1px #ccc;
  width: auto;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
.trigger-right{
  top: 50%;
}
.trigger-left{
  top: 45%;
}
.trigger:hover{
  background-color: grey;
}
.right-slide{
  z-index: 1;
  position: absolute;
  right: 0;
  width: 30%;
  padding: 30px;
  box-sizing: border-box;
  background-color: blue;
  height: 100%;
}
.left-slide{
  z-index: 1;
  position: absolute;
  left: 0;
  width: 30%;
  padding: 30px;
  box-sizing: border-box;
  background-color: red;
  height: 100%;
}
.none{
  display: none;
}
